<!--Account Page-->

<!DOCTYPE html>

<html lang="en">
    <!--Header-->
    <head>
        <title>Account Page</title>
        <% include ../partials/head.ejs %>
    </head>

    <body>
        <!--Navbar-->
        <nav>
            <% include ../partials/navbar.ejs %>
        </nav>

        <!--Main-->
        <main>

        </main>
        
    </body>

    <!--Footer-->
    <footer>
        <% include ../partials/footer.ejs %>
    </footer>
</html>