<!--Navigation Bar-->

<ul class="nav-bar">
    <li class="nav-bar-item">
        <a href="/">Home</a>
    </li>

    <!--Check if logged in and change navbar.-->
    <% if (!locals.loggedin) { %> 
        <li class="nav-bar-item">
            <a href="/Login">Login</a>
        </li>
        
        <li class="nav-bar-item">
            <a href="/Register">Register</a>
        </li>
    <% } else { %>
        <li class="nav-bar-item">
            <a href="/Account">Account</a>
        </li>

        <li class="nav-bar-item">
            <a href="/Logout">Logout</a>
        </li>
    <% } %>

</ul>