/*Navbar*/

/*Hide dropdown form*/
.dropdown-content:not(.show) {
    display: none;
}

/*Solid border around the login form*/
.dropdown-content > form {
    border-style: solid;
}

/*Forms show above all other elements*/
.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
}