<!--One-off cost template-->

<template id="oneOffTemplate">
    <!--Cost Name-->
    <input type="text" name="oneCostName" id="oneCostName">

    <!--Cost Amount-->
    <input type="number" name="oneCostAmount" id="oneCostAmount" min="1">

    <!--Remove one-off cost button-->
    <button type="button" id="removeOneOff" onclick="removeInput(this)">
        <i class="fa-solid fa-xmark"></i>
    </button>
</template>